asgiref==3.2.10
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cssselect2==0.4.1
Django==3.1.1
django-renderpdf==3.0.1
fonttools==4.29.1
html5lib==1.1
idna==3.3
Pillow==7.2.0
pycparser==2.21
pydyf==0.1.2
pyphen==0.12.0
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.1
urllib3==1.26.8
weasyprint==54.1
webencodings==0.5.1
zopfli==0.1.9
